# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build artifacts
dist/
build/

# Configuration files
.env
.env.local
.env.development
.env.test
.env.production

# IDEs and editors
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln